body {
  background-color: #f8fff4;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  font-family: "Mali", cursive;
  padding: 20px;
}

.navbar {
  background-color: #323131;
}

.nav-link {
  font-family: "Mali", cursive;
  font-size: 30px;
  color: #c09951;
}
.nav-link:hover {
  color: #ffdd9e;
}

.navbar-expand-sm .navbar-colapse {
  justify-content: space-between;
}

hr {
  padding: 0;
  margin: auto;
  width: 70%;
  border-style: none;
  border-top-style: solid;
  border-width: 2px;
  border-color: #c09951;
}

.main-section {
  background-image: linear-gradient(
      to bottom,
      #323131 5%,
      #323131be 30%,
      #32313111 50%
    ),
    url("../images/main_foto.jpg");
  width: 100%;
  height: 110vh;
  background-size: cover;
  background-position: 50% -6%;
}

.main-heading {
  color: #c09951;
  text-align: center;
  padding-top: 4%;
  font-family: "Euphoria Script", cursive;
  font-size: 120px;
}

.wedding-date {
  text-align: center;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
  color: #c09951;
  font-size: 45px;
  font-weight: 100;
  padding: 0px;
}

.about-section {
  width: 100%;
  z-index: 2;
  position: relative;
  top: -30px;
  background-color: #c09951;
  text-align: justify;
}

.t-img {
  width: 140%;
  border-radius: 50%;
  position: relative;
  left: -30%;
}

.about-text-right {
  margin: auto 40px;
  padding-bottom: 30px;
}

.p-img {
  width: 140%;
  border-radius: 50%;
  position: relative;
}
.about-text-left {
  margin: auto 0 30px auto;
}

.images {
  margin: auto;
  text-align: center;
}

.img-left {
  width: 120%;
  position: relative;
  left: -20%;
  border-radius: 5%;
}

.img-middle {
  width: 90%;
  position: relative;
  top: 70px;
  margin: auto;
  border-radius: 5%;
}

.img-right {
  width: 120%;
  border-radius: 5%;
}
